/Captain America.jpg
/Deadpool.jpg
/Dr Strange.jpg
/Electro.jpg
/First Screen.png
/Ghost Rider.png
/Hela.png
/Hulk.jpg
/Iceman.jpeg
/Iron Man.jfif
/Knowhere.jpg
/Loki.jpg
/Names Image.png
/Quick Silver.jpg
/Spiderman.jpg
/Thor.jpg
/Venom.jpg
/Yellow Jacket.jpg
/engine/
/exceptions/
/model/
/tests/
/views/
